@model ProfileInfo

@{
    Layout = "_Layout";
}

<div class="centered shadow welcome-div">
    <div class="shadow profile-info-div">
        Welcome, @Model.UserName
    </div>
    <div class="shadow profile-info-div">
        Total files: @Model.FileCount
    </div>
    <div class="shadow profile-info-div">
        Used space: @(Model.BytesCount / 1024) Mb
    </div>
</div>