@model PaginationInfo

@addTagHelper FileArchive.Infrastructure.*, FileArchive

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
     <meta name="viewport" content="width=device-width">
     <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css"/>
     <link rel="stylesheet" asp-href-include="styles/shared.css">
    <title>Log In</title>
</head>
<body>
<ul class="shadow">
    <li><text>Files list</text></li>
</ul>
@if (Model != null)
{
    <div class="shadow centered" style="border-radius: 5px;padding: 20px;background: #e8eeff; width: 50%">
        <div>
            @if (Model.FileDetailsEnumerable.Any())
                {
                    @foreach (var detail in Model.FileDetailsEnumerable)
                    {
                        <div class="file-list-item shadow">
                            <div style="margin-right: 30px; display: inline-block; vertical-align: middle">
                                <div>@detail.FileName</div>
                                <div class="form-text">@detail.BytesCount</div>
                                <div class="form-text">@detail.UploadDateTime</div>
                            </div>
                            <div style="display: inline-block; float: right">
                                <div style="margin-bottom: 5px;">
                                    <a class="btn btn-download shadow">Download</a>
                                </div>
                                <div style="margin-bottom: 5px;">
                                    <a class="btn btn-delete shadow" style="width: 100%;">Delete</a>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="centered shadow" style="margin: 30px; border-radius: 10px; padding: 30px">
                        No files
                    </div>
                }
        </div>
        <div class="shadow pagination-div"
             page-model="@Model" 
             selected-button-class="btn btn-secondary pagination-btn shadow" 
             unselected-button-class="btn btn-light pagination-btn shadow"
             controller="Panel"
             button-start-class="btn btn-primary pagination-btn shadow"
             button-end-class="btn btn-primary pagination-btn shadow"
             div-class="shadow pagination-div view-div"
             action="Files"></div>
</div>
}
else
{
    <div class="shadow centered">No files</div>
}

</body>
</html>