ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3a2c5a;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
}

li text {
    display: block;
    color: white;
    text-align: center;
    font-size:large;
    padding: 8px 8px;
    text-decoration: none;
}

.active {
    background-color: #04AA6D;
    border-radius: 5px;
    margin: 5px;
}

.centered {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.view-div{
    border-radius: 32px;
    background: linear-gradient(145deg, #3a3a3a, #444444);
    box-shadow:  15px 15px 30px #232323,
    -15px -15px 30px #5d5d5d;
}

.shadow{
    box-shadow:  12px 12px 24px #7d788c, -12px -12px 24px #ffffff;
}

.welcome-div{
    background: #d1ddff; 
    padding: 10px; 
    border-radius: 5px;
}

.go-right{
    float: right;
}

.file-list-item {
    padding:10px;
    background: #f1f8ff;
    border-radius:5px;
    margin:5px;
}
