@model AuthData

@{
    Layout = "_Layout";
}

<form class="shadow welcome-div centered" asp-action="LogIn">
  <div class="mb-3">
    <label class="form-label">Login:</label>
    <input class="form-control" asp-for="LogIn">
    <div class="form-text">Enter your unique login ID</div>
  </div>
  <div class="mb-3">
    <label class="form-label">Password:</label>
    <input type="password" class="form-control" asp-for="Password">
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-secondary go-right" asp-controller="Home" asp-action="Index">Go back</a>
</form>